---
import Layout from '~/layouts/PageLayout.astro';
const metadata = { title: 'Contact' };
---
<Layout metadata={metadata}>
  <div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-6">Contact</h1>
    <p class="mb-6">If you have suggestions, wish to collaborate, need content authorization, or have any questions, please contact us.</p>
    <div class="mb-8">
      <span class="font-semibold">Email:</span>
      <a href="mailto:terry.yao.work@gmail.com" class="text-blue-600 hover:underline">terry.yao.work@gmail.com</a>
    </div>
  </div>
</Layout> 